version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: marketplace
      POSTGRES_USER: marketplace
      POSTGRES_PASSWORD: marketplace
    ports:
      - "5432:5432"

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8081:8080"

  api:
    build:
      context: .
      dockerfile: Marketplace.Api/Dockerfile
    depends_on:
      - postgres
      - keycloak
    environment:
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=marketplace;Username=marketplace;Password=marketplace
      Keycloak__Authority: http://keycloak:8080/realms/marketplace
      Keycloak__Audience: marketplace-api
    ports:
      - "7029:8080"
